.booking-modal-header {
    padding: 10px;
    border-bottom: 1px solid black;

    .left {
        font-size: 15px;
        font-weight: 600;
        color: #333;
    }

    .right {
        float: right;
        cursor: pointer;
    }
}