table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(255, 186, 49);

    &:hover {
        background-color: transparent !important;
        color: orange !important;
    }
}

.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(252, 67, 35);

    &:hover {
        background-color: transparent !important;
        color: rgb(150, 0, 0) !important;
    }
}

.modal-user-container {
    .modal-content {
        .modal-header {
            button {
                background-color: transparent !important;
                color: white;
                font-size: 27px;
                border: none;
            }
        }
    }

    .modal-user-body {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 49%;

            &.max-width-input {
                width: 100%;
            }

            input {
                border-radius: 3px;
                border: 1px solid grey;
                height: 30px;
                outline: none;
                padding: 0 10px;
            }
        }
    }

}