.verify-booking-container {
    .infor-booking {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 30px;
        text-align: center;
        color: red;
    }
}